{% extends "base.html" %}
{% block content %}

<section class="conteudo mt-3">
    <div class="conteudo__titulo text-black text-center">
        Entre em Contato
    </div>
    <div class="conteudo__texto text-black text-center">
        <i>Estamos sempre prontos para ouvir você!</i> Utilize o formulário abaixo para nos enviar uma mensagem por <b>E-mail</b> ou clique no botão do <b>WhatsApp</b> para falar diretamente conosco.
    </div>

    <div class="conteudo__titulo text-black text-center">
        Formulário de Contato:
    </div>
    <div class="conteudo__texto text-black text-center">
        Preencha os campos abaixo e <i>Clique em Enviar</i> para nos enviar uma mensagem por e-mail.
    </div>
</section>

    <style>
        .custom-bg {
            background-color: rgb(85, 85, 85);
            padding: 20px;
            border-radius: 10px;
            margin-top: 20px;
        }
    </style>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="custom-bg shadow">
                    <h1 class="text-center text-white mb-4">Enviar E-mail</h1>
                    <form action="/enviar_email" method="post">
                        <div class="form-group">
                            <label for="titulo" class="text-white">Assunto</label>
                            <input type="text" style="background-color: rgba(0, 0, 0, 0.288);"  class="form-control mb-2 shadow" id="titulo" name="titulo" required>
                        </div>
                        <div class="form-group">
                            <label for="corpo" class="text-white">Descrição</label>
                            <textarea style="background-color: rgba(0, 0, 0, 0.288);" class="form-control mb-3 shadow" id="corpo" name="corpo" rows="4" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-danger" style="font-size: 3vh;">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <section class="conteudo mt-4">
        <div class="conteudo__titulo text-black text-center">
            WhatsApp:
        </div>
        <div class="conteudo__texto text-black text-center">
            <i>Clique no Botão Abaixo</i> para iniciar uma conversa no <i>WhatsApp</i> e falar diretamente conosco.
        </div>

            <div class="d-flex justify-content-center">
              <a href="https://api.whatsapp.com/send?phone=5512988384066" target="_blank">
                <img src="static/images/zap2.png" style="width: 38vh" alt="zap">
               </a>
            </div>

    </section>

{% endblock %}
